@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
    background: radial-gradient(circle at bottom left ,#005b86 35%, transparent 36%), radial-gradient(circle at top right ,#005b86 35%, transparent 36%);
    background-size: 4em 4em;
    background-color: #005f8a;
    opacity: 1
}


@keyframes fade-me-in {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  